

body{
	font-family: 'Roboto', sans-serif;
/*	width:90%;
    margin-left:auto;
    margin-right:auto;*/
    padding-left:50px;
    padding-right:50px;
}

header{
/*	position:fixed;
	top:0px;
	left:0px;*/
	width:100%;
	padding:10px;
	/*box-shadow: 0 0 3px black;*/
/*	background-color: #2196F3;*/
}

header .logo{
	color: #FF8F00;
	font-size: 30px;
	float:left;
}

header .right{
	float:right;
}

/*.aboutus{
	float:right;
	margin-right:20px;
	height:30px;
	width:130px;
	position:relative;
}

.aboutus a{
	text-decoration: none;
	color:black;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.aboutus:hover {
	transition: box-shadow 0.2s;
	box-shadow: 0px 0px 4px grey;
}*/

.search{
	float:left;
	margin-right:20px;
}

.search input[type="search"]{
	font-size: 1em;
	height:30px;
	width:130px;
	color:black;
	border: none;
	background-image: url('res/ic_search_black_36dp_2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    font-family: 'Roboto', sans-serif;
	padding:4px;
    padding-left:35px;
}

::-webkit-input-placeholder{
	font-family: 'Roboto', sans-serif;
	color:black;
}

.search input[type="search"]:hover {
	transition: box-shadow 0.2s;
	box-shadow: 0px 0px 4px #FF8F00;
}

.search input[type="search"]:focus{
	transition: width 0.2s ease-in-out;
	width:500px;
	box-shadow: 0px 0px 4px #FF8F00;
	outline:none;
}

.content-wrapper{
	padding-top:100px;
}

.content{
	display: flex;
	flex-wrap: wrap;
}

.recipe{
	flex:1;
	flex-basis: 30%;
	/*Change flex-basis to 100% in phone view@!!!@!!@!!*/
	margin: 15px 0 20px 15px;
	box-shadow: 0px 0px 6px grey;
}

.recipe .foodimg img{
	width: 100%;
	height:33%;
}

.recipe input[type="submit"]{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	border:0;
	background-color: white;
	box-shadow: 0 0 4px grey;
	overflow: hidden;
	 position: relative;
}

.recipe input[type="submit"]:hover{
	transition: background-color 0.2s;
	background-color: #F57C00;
	color:white;
}

.recipe input[type="submit"]:focus{
	outline: none;
}

.recipe input[type="submit"]:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.recipe input[type="submit"]:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.recipeDetails{
	padding: 0 10px 10px 10px;
}